




.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.star-rating .star {
   
}

.star-rating .active {
  color: gold; 
}

.star-rating .inactive {
  color: grey; /* Color for inactive stars */
}
.footnote{

}

